<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про нас</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <a href="/info" class="logo-href"><img class="logo" th:src="@{/img/main-logo.svg}" alt="logo"></a>
    <nav class="nav">
        <ul class="nav__links">
            <li><a href="/about">Про нас</a></li>
            <li><a href="/services">Послуги</a></li>
            <li><a href="/vacancy">Вакансії</a></li>
        </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
        <a class="lang" href="#">UA</a>
    </header>
    <section class="section-main-about">
        <h1 class="main-about-title">БІЛЬШЕ ПРО НАС</h1>
        <p class="main-about-text">Mark Electronics - міжнародна компанія, що надає послуги з дослідження, розробки та тестування програмного забезпечення та драйверів. Ми допомагаємо ІТ-компаніям та стартапам по всьому світі створювати надійне програмне забезпечення. 98% клієнтів повертаються до нас знову завдяки нашим висококваліфікованим спеціалістам та високій якості роботи.</p>
        <h1 class="main-about-title">З 2020 року</h1>
        <p class="main-about-text">наша компанія працює та стрімко розвивається на міжнародному ринку. З кожним роком наші амбіції ростуть, а ми - не зупиняємось на досягнутому, ставлячи нові цілі. Кожен фахівець нашої компанії - спеціаліст найвищої ланки, саме це забезпечує якісну роботу та ідеальний результат, який змушує клієнтів повертатись до нас знову і знову.</p>
        <div class="main-about-block">
            <div class="main-about-block-element">
                <h1 class="main-element-header">2020</h1>
                <p class="main-element-text">рік заснування</p>
            </div>
            <div class="main-about-block-element">
                <h1 class="main-element-header">90+</h1>
                <p class="main-element-text">співробітників</p>

            </div>
            <div class="main-about-block-element">
                <h1 class="main-element-header">100+</h1>
                <p class="main-element-text">завершених проектів</p>

            </div>
            <div class="main-about-block-element">
                <h1 class="main-element-header">30+</h1>
                <p class="main-element-text">поточних проєктів</p>
            </div>

        </div>
    </section>
    <section class="top-section">
        <h1 class="top-title">НАШІ ТОП-СПЕЦІАЛІСТИ</h1>
        <div class="profs">
            <div class="prof" th:each="worker: ${workers}">
                <img class="prof-img" th:src="@{${worker.getImg()}}" alt="person">
                <p class="name-title" th:text="${worker.getFullName()}">C++ Developer</p>
                <p class="who-title" th:text="${worker.getRole()}">C++ Developer</p>
            </div>
        </div>
    </section>
    <section class="offices">
        <div class="offices-overlay">
            <h1 class="offices-title">ОФІСИ</h1>
            <div class="office-items">
                <div class="office-item" th:each="office: ${offices}">
                    <img class="office-img" th:src="@{${office.getImg()}}" alt="office">
                    <div class="office-descr">
                        <img class="office-icon" th:src="@{/img/office-icon.svg}" alt="office">
                        <p class="office-title" th:text="${office.getAddress() + ' ' + office.getPhone()}">м. Київ, пр. Перемоги  24/31 095 46 73 409</p>
                    </div>
                    
                </div>
<!--                <div class="office-item">-->
<!--                    <img class="office-img" th:src="@{/img/second-office.jpg}" alt="office">-->
<!--                    <div class="office-descr">-->
<!--                        <img class="office-icon" th:src="@{/img/office-icon.svg}" alt="office">-->
<!--                        <p class="office-title">м. Київ, вул. Зоологічна, 5 096 88 00 553</p>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            
        </div>
        
    </section>
    <footer>
        <div class="footer">
            <div class="address">м. Київ, вул. Зоологічна, 5</div>
            <div class="contacts">
                <p class="phone">+380968800553</p>
                <p class="mail">markelectronics@gmail.com</p>
            </div>
            <div class="social-networks">
                <div class="social-item"><img th:src="@{/img/telegram.svg}" alt="telegram"></div>
                <div class="social-item"><img th:src="@{/img/twitter.svg}" alt="twitter"></div>
                <div class="social-item"><img th:src="@{/img/youtube.svg}" alt="youtube"></div>
                <div class="social-item"><img th:src="@{/img/facebook.svg}" alt="facebook"></div>
            </div>
        </div>
    </footer>
    <script src="scripts/script.js"></script>
</body>
</html>